{% extends 'layout.html' %}
{% block content %}

<main role="main" class="container main-margin">
  <div class="row">
    <ul class="list-unstyled">
      <li class="media padding-top-30" id="about-flask">
        <img class="d-flex mr-3" src="/static/images/flaskblog01.jpg" alt="Generic placeholder image"  width="100" height="100">
        <div class="media-body">
          <h5 class="mt-0 mb-1">Why Flask?</h5>
          本サイトでは、PythonのWebフレームワークであるFlaskを使用したWebサイト構築に挑戦しました。</br>
          Flaskを選定した背景として、チャットボット機能を動作させるにあたり、Webフレームワークを極力軽量なものにしたいと考えたからです。
          例えば同じPythonの優れたWebフレームワークであるDjangoは、充実したビルトインの機能を利用して高速な開発が可能となっている反面、
          本来使用しない機能分のモジュールも数多く含まれてしまうというデメリットがあります。その点、Flaskは軽量かつ必要最小限の機能を開発者自身
          が構築していくので、Webフレームワークでの処理も軽量化されるのではと考えました。本サイトの場合、チャットボット機能で多くのリソースが
          必要となることが予想されため、Flaskを選定しました。
          </br></br>
          Flaskを用いてWebサイトを構築するにあたり、以下の動画を参考にしました。
          </br></br>
          <a href="https://www.youtube.com/watch?v=MwZwr5Tvyxo&list=PL-osiE80TeTs4UjLw5MM6OjgkjFeUxCYH">YouTube - Python Flask Tutorial: Full-Featured Web App</a>

        </div>
      </li>
      <li class="media my-4 padding-top-50" id="about-chatbot">
        <img class="d-flex mr-3" src="/static/images/flaskblog03.png" alt="Generic placeholder image" width="100" height="100">
        <div class="media-body">
          <h5 class="mt-0 mb-1">What's Chatbot?</h5>
          チャットページ上で、チャットボットとの会話をすることができます。</br>
          本サイトでは、チャットボットの自作に挑戦しました。会話コーパスにはTwitterの会話データ約3万件を使用し、
          簡単な雑談ができるようなチャットボット機能を目指しました。
          </br></br>
          チャットボット機能を作成するにあたり、以下の記事を参考にしました。
          </br></br>
          <a href="https://qiita.com/gacky01/items/b786b2a097bf473176e8">Qiita - Twitterデータを用いたチャットボットの訓練</a>

        </div>
      </li>
      <li class="media padding-top-50" id="about-bootstrap">
        <img class="d-flex mr-3" src="/static/images/flaskblog02.png" alt="Generic placeholder image" width="100" height="100">
        <div class="media-body">
          <h5 class="mt-0 mb-1">Why Bootstrap?</h5>
          Webサイトのデザインについては、CSSフレームワークであるBootstrapを使用しております。</br>
          CSSフレームワークの中で最も有名なフレームワークの１つであるので、使用方法を把握したいと思い、挑戦しました。
          トップページの画像切り替えをはじめ、様々な箇所でBootstrapの部品・アニメーションを使用しております。
          </br></br>
        </div>
      </li>
    </ul>
  </div>
</main>


{% endblock %}

