{% extends "layout.html" %}
{% block content %}
  <h1>三種の記事</h1>
  <p>ボタンをクリックするたびに三種類の記事から一つ出力されるぞ！</p>
  <input type="button" value='ボタン1' data-post-id=1 onclick="post_greeting(1)">
  <input type="button" value='ボタン2' data-post-id=2 onclick="post_greeting(2)">
  <input type="button" value='ボタン3' data-post-id=3 onclick="post_greeting(3)">
  <br>
  <p>挨拶：<span id="greeting">上のボタンを押してね</span></p>
  <img id="greeting_image" width="256" height="256" src="http://urx3.nu/Zlxt">
  <script src="../static/js/hello.js"></script>
{% endblock %}