{% extends 'layout.html' %}
{% block content %}
<main role="main" class="container main-margin">
<div class="row">
  <div>
    <div class="alert alert-primary" role="alert">
        こちらから投稿するとチャットボットが応答しません。</br>
        ユーザー同士のメッセージのやりとりにどうぞ
    </div>
    <form method="POST" action="">
      <div>
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">新規投稿</legend>
          <div class="form-group">
            {{ form.title.label(class="form-control-label") }}
            {{ form.title(class="form-control form-control-lg") }}
          </div>
          <div class="form-group">
            {{ form.content.label(class="form-control-label") }}
            {{ form.content(class="form-control form-control-lg") }}
          </div>
          <div class="form-group">
            {{ form.submit(class='harrybotter-font') }}
          </div>
      </fieldset>
      </div>
    </form>
  </div>
</div>
</main>
{% endblock %}